<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:s="http://jboss.com/products/seam/taglib">
<html>
    <head>
        <title>Testing Jpql Page</title>
		<style type="text/css">
			.width_max { width:100% }
		</style>        
    </head>
	<body>
        <h:form>
			<h:panelGrid columns="1" styleClass="width_max">
				<h:panelGroup>
					<h:outputText value="Please enter Jpql here :"/>
				</h:panelGroup>

				<h:panelGroup>
					<h:inputTextarea id="jpql" value="#{testJpql.jpql}" 
						required="true" 
						rows="10" 
						styleClass="width_max"/>
                    <h:message for="jpql"/>
				</h:panelGroup>
			
				<h:panelGroup>
					<h:outputText value="Please add join hints here (prefix with 'batch ' or 'fetch ' for each line):"/>
				</h:panelGroup>

				<h:panelGroup>
					<h:inputTextarea id="joinHints" value="#{testJpql.joinHints}" 
						rows="5"
						styleClass="width_max"/>
                    <h:message for="joinHints"/>
				</h:panelGroup>

				<h:panelGroup>
					<h:commandButton value="Execute Jpql" action="#{testJpql.executeJpql}"/>
				</h:panelGroup>
        	</h:panelGrid>
        	
        	<h:panelGrid columns="1" styleClass="width_max">
				<h:panelGroup rendered="#{testJpql.hasResult}">
					<b>Result : </b><br/>
					<pre>#{testJpql.result}</pre>
				</h:panelGroup>				
			</h:panelGrid>
        </h:form>
    </body>
</html>
</ui:composition>