<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="pms-mob-iqds-app">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="jboss-seam-2.2.2.Final_P2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/jboss/seam/jboss-seam/2.2.2.Final_P2/jboss-seam-2.2.2.Final_P2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pms-mob-iqds-web-2.0.1-SNAPSHOT.war" deploy-path="/" handle="module:/resource/pms-mob-iqds-web/pms-mob-iqds-web">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pms-mob-iqds-ejb-2.0.1-SNAPSHOT.jar" deploy-path="/" handle="module:/resource/pms-mob-iqds-ejb/pms-mob-iqds-ejb">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="xstream-1.4.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/thoughtworks/xstream/xstream/1.4.2/xstream-1.4.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="xmlpull-1.1.3.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/xmlpull/xmlpull/1.1.3.1/xmlpull-1.1.3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="xpp3_min-1.1.3.4.O.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/xpp3/xpp3_min/1.1.3.4.O/xpp3_min-1.1.3.4.O.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jboss-el-1.0_02.CR5.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jboss/el/jboss-el/1.0_02.CR5/jboss-el-1.0_02.CR5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fmk-pms-core-3.3.4.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/hk/org/ha/fmk/pms/fmk-pms-core/3.3.4/fmk-pms-core-3.3.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jsf-api-1.2_12.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/javax/faces/jsf-api/1.2_12/jsf-api-1.2_12.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-validator-3.1.0.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/hibernate/hibernate-validator/3.1.0.GA/hibernate-validator-3.1.0.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-commons-annotations-3.1.0.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/hibernate/hibernate-commons-annotations/3.1.0.GA/hibernate-commons-annotations-3.1.0.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="slf4j-api-1.4.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/slf4j/slf4j-api/1.4.2/slf4j-api-1.4.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dom4j-1.6.1-brew.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/dom4j/dom4j/1.6.1-brew/dom4j-1.6.1-brew.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="javassist-3.12.0.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/javassist/javassist/3.12.0.GA/javassist-3.12.0.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-lang-2.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-lang/commons-lang/2.1/commons-lang-2.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-logging-1.1.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-logging/commons-logging/1.1.1/commons-logging-1.1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-codec-1.10.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-codec/commons-codec/1.10/commons-codec-1.10.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="slf4j-log4j12-1.4.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/slf4j/slf4j-log4j12/1.4.2/slf4j-log4j12-1.4.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="log4j-1.2.14.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/log4j/log4j/1.2.14/log4j-1.2.14.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dbunit-2.4.7.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/dbunit/dbunit/2.4.7/dbunit-2.4.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="junit-3.8.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/junit/junit/3.8.2/junit-3.8.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-collections-3.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-collections/commons-collections/3.2/commons-collections-3.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="csvreader-2.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/csvreader/csvreader/2.1/csvreader-2.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fmk-pms-util-3.3.4.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/hk/org/ha/fmk/pms/fmk-pms-util/3.3.4/fmk-pms-util-3.3.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-beanutils-1.8.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-beanutils/commons-beanutils/1.8.0/commons-beanutils-1.8.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-io-1.4.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-io/commons-io/1.4/commons-io-1.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fmk-pms-audit-3.3.4.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/hk/org/ha/fmk/pms/fmk-pms-audit/3.3.4/fmk-pms-audit-3.3.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="flexjson-2.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/net/sf/flexjson/flexjson/2.0/flexjson-2.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="drools-core-5.0.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/drools/drools-core/5.0.1/drools-core-5.0.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mvel2-2.0.10.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/mvel/mvel2/2.0.10/mvel2-2.0.10.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="drools-api-5.0.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/drools/drools-api/5.0.1/drools-api-5.0.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="joda-time-1.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/joda-time/joda-time/1.6/joda-time-1.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="drools-compiler-5.0.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/drools/drools-compiler/5.0.1/drools-compiler-5.0.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="antlr-runtime-3.1.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/antlr/antlr-runtime/3.1.1/antlr-runtime-3.1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="core-3.4.2.v_883_R34x.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/eclipse/jdt/core/3.4.2.v_883_R34x/core-3.4.2.v_883_R34x.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="janino-2.5.15.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/janino/janino/2.5.15/janino-2.5.15.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fmk-pms-remote-3.3.4.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/hk/org/ha/fmk/pms/fmk-pms-remote/3.3.4/fmk-pms-remote-3.3.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-jms-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-jms/2.5.6/spring-jms-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-pool-1.3.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-pool/commons-pool/1.3/commons-pool-1.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-beans-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-beans/2.5.6/spring-beans-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-context-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-context/2.5.6/spring-context-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-context-support-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-context-support/2.5.6/spring-context-support-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-core-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-core/2.5.6/spring-core-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-tx-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-tx/2.5.6/spring-tx-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-aop-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-aop/2.5.6/spring-aop-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="aopalliance-1.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/aopalliance/aopalliance/1.0/aopalliance-1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jboss-seam-resteasy-2.2.2.Final_P2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jboss/seam/jboss-seam-resteasy/2.2.2.Final_P2/jboss-seam-resteasy-2.2.2.Final_P2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="resteasy-jaxrs-2.0.1.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jboss/resteasy/resteasy-jaxrs/2.0.1.GA/resteasy-jaxrs-2.0.1.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jaxrs-api-2.0.1.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jboss/resteasy/jaxrs-api/2.0.1.GA/jaxrs-api-2.0.1.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jcl-over-slf4j-1.5.8.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/slf4j/jcl-over-slf4j/1.5.8/jcl-over-slf4j-1.5.8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="activation-1.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/javax/activation/activation/1.1/activation-1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jcip-annotations-1.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/net/jcip/jcip-annotations/1.0/jcip-annotations-1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="resteasy-jaxb-provider-2.0.1.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jboss/resteasy/resteasy-jaxb-provider/2.0.1.GA/resteasy-jaxb-provider-2.0.1.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="resteasy-atom-provider-2.0.1.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jboss/resteasy/resteasy-atom-provider/2.0.1.GA/resteasy-atom-provider-2.0.1.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="resteasy-jackson-provider-2.0.1.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jboss/resteasy/resteasy-jackson-provider/2.0.1.GA/resteasy-jackson-provider-2.0.1.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-core-asl-1.9.13.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/codehaus/jackson/jackson-core-asl/1.9.13/jackson-core-asl-1.9.13.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-mapper-asl-1.9.13.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/codehaus/jackson/jackson-mapper-asl/1.9.13/jackson-mapper-asl-1.9.13.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-jaxrs-1.9.13.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/codehaus/jackson/jackson-jaxrs/1.9.13/jackson-jaxrs-1.9.13.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-xc-1.9.13.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/codehaus/jackson/jackson-xc/1.9.13/jackson-xc-1.9.13.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ehcache-1.6.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/net/sf/ehcache/ehcache/1.6.2/ehcache-1.6.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ehcache-jmsreplication-0.4-SP1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/net/sf/ehcache/ehcache-jmsreplication/0.4-SP1/ehcache-jmsreplication-0.4-SP1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="javapns-2.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/googlecode/javapns/javapns/2.2/javapns-2.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="bcprov-jdk16-1.46.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/bouncycastle/bcprov-jdk16/1.46/bcprov-jdk16-1.46.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="gcm-server-3.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/google/android/gcm/gcm-server/3/gcm-server-3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="json-simple-1.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/googlecode/json-simple/json-simple/1.1/json-simple-1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pegdown-1.6.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/pegdown/pegdown/1.6.0/pegdown-1.6.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="parboiled-java-1.1.7.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/parboiled/parboiled-java/1.1.7/parboiled-java-1.1.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="parboiled-core-1.1.7.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/parboiled/parboiled-core/1.1.7/parboiled-core-1.1.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="asm-5.0.3.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/ow2/asm/asm/5.0.3/asm-5.0.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="asm-tree-5.0.3.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/ow2/asm/asm-tree/5.0.3/asm-tree-5.0.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="asm-analysis-5.0.3.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/ow2/asm/asm-analysis/5.0.3/asm-analysis-5.0.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="asm-util-5.0.3.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/ow2/asm/asm-util/5.0.3/asm-util-5.0.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
